  <% @users.each do |user| %>
  
    <div class= 'user_profile'>
      <%= image_tag(user.photo, :size => "80x110", :alt => "#{user.name}", :title => "Profile Picture") %>
      <h2><%= user.name %></h2> 
      <p> Number of Posts: <%= user.posts_count %></p>
      <%= link_to 'view Detail', user_path(user) %>
    </div> 
  <%end%>
