<h1>Welcome, <%= @user.name %></h1>
<%= render "shared/user", user: @user %>
  <div class = 'user_detail'>
    <h3>Bio<h3>
    <p> <%= @user.bio%><p>
  </div>  
<%= render "shared/posts", posts: @posts %>
