<% @posts.each do |post| %>    
  <div class='post_container'>
    <h2> <%=link_to post.title, user_post_path(@user.id, post), :class => 'post-title'%></h2> 
    <%= truncate_text(post.text,100) %>
    <div class='likes_comments_count_right'>
      <span>Likes: <span class ='rev'><%= post.likes_count %></span></span>
      <span>Comments: <span class ='rev'><%= post.comments_count %></span></span>
    </div>
  </div>
<% end %>