<% @posts.each do |post| %>    
  <div class='post_container'>
    <h2><%= post.title %></h2> 
    <%= truncate_text(post.text,100) %>
    <div>
      Likes: #<%= post.likes_count %>
      Comments: #<%= post.comments_count %>
    </div>
  </div>
<% end %>