<div class= 'user_profile'>
      <%= image_tag(@user.photo, :size => "80x110", :alt => "#{@user.name}", :title => "Profile Picture") %>
      <h2><%= @user.name %></h2> 
      <p> Posts Count: <%= @user.posts_count %></p>
    </div> 