<div class='comment_container'>
    <% comments.each do |comment|%>
      <div>
        <span><%= User.find(comment.author_id).name %>:</span> 
        <%= comment.text%>
      </div>
    <% end %>
  </div>