<h1> Show Post </h1>

<p>Looking for post:</p>
<p></p>
<div>
  <div class = 'project_detail'>
    <h3>Project #1: <%= @post.title %> </h3>
    <p> <%= @post.text %></p>
  </div>
  <%= render "comments", comments: @comments %>
  
  <% like_status = is_liked?(current_user,@post) %>
  <%= button_to "#{ like_status ? 'Liked': 'Like' }", user_post_likes_path(current_user, @post), method: :post , class: "#{like_status ? 'btn disabled' : 'btn' }" %>
</div>