<h1> Show Post </h1>

<p>Looking for post:</p>
<p></p>
<div>
  <div class = 'project_detail'>
    <h3>Project #1: <%= @post.title %> </h3>
    <p> <%= @post.text %></p>
  </div>
  <%= render "comments", comments: @comments %>
</div>