/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary: #4169e1;
  --secondary: #69e141;
  --text-primary: #fff;
  --text-secondary: #e14169;
  --primary-bg: #17191a;
  --secondary-bg: rgb(34, 37, 39);
}

* {
  color: var(--text-primary);
}

body {
  background-color: var(--primary-bg) !important;
}

.container-fluid,
.navbar,
.bg-body-tertiary {
  background-color: var(--secondary-bg) !important;
 
}

a:link {
  color: var(--primary);
  text-decoration: none;
}

a:visited {
  color: var(--secondary);
}

a:active {
  color: var(--text-secondary);
}

.btn {
  background-color: #4169e1 !important;
  color: var(--text-primary) !important;
  margin-top: 20px;
}

.user_profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  color: var(--text-primary);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 20px;
}

.users_container {
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.user_detail,
.project_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  color: var(--text-primary);
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post_container,
.comment_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  gap: 10px;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 15px;
  font-size: 1.25rem;
}

.post_container > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.15rem;
}

.comment_container span {
  padding: 1rem;
}

.comment_container > div:nth-child(2n) {
  align-self: baseline;
  background-color: var(--text-secondary);
  border-radius: 4px;
  color: var(--text-primary);
  padding-right: 5rem;
}
